.reviewProduct {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 50px;
  margin-left: 10px;
  padding-top: 50px;
  border-top: 1px solid rgb(209, 209, 209);
  width: 300px;
}

.reviewProductBtn {
  font-family: 'PT Sans';
  height: 29px;
  width: 300px;
  padding: 1px 22px;
  cursor: pointer;
  opacity: .9;
  margin-left: 10px;
  margin-top: 15px;
  /* background-image: linear-gradient(#fcfcfd, #e8e9ec);
  border-radius: 3px; */
}

.text {
  font-family: 'PT Sans';
  font-size: 1em;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
}

.numberOfStars {
  color: #007185;
  font-family: 'PT Sans';
  margin-right: 3px;
  min-width: 50px;
}

.numberOfStars:hover {
  cursor: pointer;
}

.starsHover {
  composes: numberOfStars;
  color: #C7511F;
  text-decoration: underline;
}

.percentage {
  color: #007185;
  font-family: 'PT Sans';
  margin-left: 5px;
  margin-right: 0;
  min-width: 50px;
}

.percentage:hover {
  cursor: pointer;
}

.percentHover {
  composes: percentage;
  color: #C7511F;
  text-decoration: underline;
}

.fullBar {
  background-color: #F0F2F2;
  height: 20px;
  width: 200px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #E3E6E6;
  margin-right: 10px;
}

.hoverBar {
  background-color: #fff6e0;
  height: 20px;
  width: 200px;
  border-radius: 4px;
  box-shadow: inset -2px 0 0 -1px #F5961D, inset 0 0 0 1px #DE7921;
  margin-right: 10px;
  cursor: pointer;
}

.ratingsHeadline {
  font-family: 'PT Sans';
  font-weight: 700;
  width: 300px;
  font-size: 1.7em;
  margin: 0 0 5px 0;
}

.noRatings {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 1.2em;
  margin: 5px 0;
}

.grayText {
  font-family: 'PT Sans';
  font-size: .9em;
  color: #565959;
  margin: 8px 0;
}

/*

export const RatingsHeadline = styled.h1`
  font-family: 'PT Sans';
  font-weight: 700;
  width: 300px;
  font-size: 1.7em;
  margin: 0 0 5px 0;
`;

export const NoRatings = styled.h2`
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 1.2em;
  margin: 5px 0;
`;

export const GrayText = styled.p`
  font-family: 'PT Sans';
  font-size: .9em;
  color: #565959;
  margin: 8px 0;
`;

.styledBar {
  background-color: #FFA41C;
  border-radius: 4px 0px 0px 4px;
  border-radius: ${props => props.width === 100 ? '4px' : '4px 0px 0px 4px'};
  height: 100%;
  box-shadow: inset -2px 0 0 -1px #F5961D, inset 0 0 0 1px #DE7921;
  width: ${props => props.width}%;
} */

/*

import { Container, NumberOfStars, Percentage, fullBarStyle, hoverBarStyle, StyledBar } from '../styles/Styles.jsx';

export const Container = styled.div`
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
`;

export const NumberOfStars = styled.p`
  color: ${props => props.hover ? '#C7511F' : '#007185'};
  font-family: 'PT Sans';
  margin-right: 3px;
  min-width: 50px;
  cursor: ${props => props.hover ? 'pointer' : 'none'};
  text-decoration: ${props => props.hover ? 'underline' : 'none'};
`;

export const Percentage = styled.p`
  color: ${props => props.hover ? '#C7511F' : '#007185'};
  font-family: 'PT Sans';
  margin-left: 5px;
  margin-right: 0;
  min-width: 50px;
  cursor: ${props => props.hover ? 'pointer' : 'none'};
  text-decoration: ${props => props.hover ? 'underline' : 'none'};
`;

export const fullBarStyle = {
  backgroundColor: '#F0F2F2',
  height: '20px',
  width: '200px',
  borderRadius: '4px',
  boxShadow: 'inset 0 0 0 1px #E3E6E6',
  marginRight: '10px'
};

export const hoverBarStyle = {
  backgroundColor: '#fff6e0',
  height: '20px',
  width: '200px',
  borderRadius: '4px',
  boxShadow: 'inset -2px 0 0 -1px #F5961D, inset 0 0 0 1px #DE7921',
  marginRight: '10px',
  cursor: 'pointer'
};

export const StyledBar = styled.div`
  background-color: #FFA41C;
  border-radius: ${props => props.width === 100 ? '4px' : '4px 0px 0px 4px'};
  height: 100%;
  box-shadow: inset -2px 0 0 -1px #F5961D, inset 0 0 0 1px #DE7921;
  width: ${props => props.width}%;
`;

export const ReviewItemContainer = styled.div`
  margin: 20px 0;
`;


*/